<!DOCTYPE html>
<html>
  <%- include('./templates/htmlHeader.ejs');  %>  
  <body>
    <%- include('./templates/titleAndNavbar.ejs'); %>
    <div class="container d-flex flex-column">
      <h1 class="text-primary text-center"><%= title %></h1>
      <p class="text-secondary text-center">點擊下方按鈕試試手氣吧！！！</p>
      <a class="btn btn-large btn-primary" >抽大獎！！！</a>
    </div>
  </body>
</html>
